<h1>LaunchPad Lab Theater</h1>

<h2>Now Playing</h2>

<% 7.times do |int| %>
<a href="#" id='day_<%= int %>' class="np_nav_button">Day <%= int %></a>
<% end %>

<% today = Date.today %>
<% @days.each do |day| %>
	<%= today == Date.today ? '<div class="showing_day">'.html_safe : '<div class="showing_day hidden">'.html_safe %>
		<h2><%= today==Date.today ? "Today" : today.strftime('%B %-d, %Y') %></h2>
		<% if day.empty? %>
			There are no showtimes for this day.
		<% else %>
			<% day.each do |movie, showtimes| %>
				<p>
				<%= link_to movie, movie_path(Movie.where(title: movie)[0].id) %>: 
				<% showtimes.each do |showtime| %>
					<% if showtime[1] > 0 %>
						<%= link_to showtime[0].strftime("%-I:%M%p"), new_order_path(:showtime =>Showtime.where(movie: Movie.where(title: movie), time: showtime[0], date: today)[0] ) %>  
					<% else %>
						<text class="sold_out"><%= showtime[0].strftime("%-I:%M%p") %></text>
					<% end %> 
				<% end %>
				</p>
			<% end %>
		<% end %>
	</div>
	<% today += 1 %>
<% end %> 