<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :price, 'Total: $15' %><br>
    <%= f.hidden_field :price, :value => 15 %>
  </div>
  
  <% if @showtime %>
      <%= f.hidden_field :showtime_id, :value => @showtime.id %>
  <% else %>
    <div class="field">
      <%= f.label :showtime %><br>
      <%= f.number_field :showtime_id, min: 0 %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, :class => "required" %>
  </div>
  <div class="field">
    <%= f.label :cc_num %><br>
    <%= f.text_field :cc_num, :class => "required"  %>
  </div>
  <div class="field">
    <%= f.label :cc_exp %><br>
    <%= f.number_field :cc_exp, max: 9999, :class => "required"  %>
  </div>
  <div class="actions">
    <%= f.submit 'Place order', :id => 'place_order', :class => 'submit_button' %>
  </div>
<% end %>