<h1>Orders</h1>
<table>
	<thead>
		<tr>
			<th>Movie</th>
			<th>Date</th>
			<th>Time</th>
			<th>Email</th>
			<th>Price</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
			<tr>
				<td><%= order.showtime.movie.title %></td>
				<td><%= order.showtime.date %></td>
				<td><%= order.showtime.time %></td>
				<td><%= order.email %></td>
				<td><%= order.price %></td>
				<td><%= link_to 'Edit', edit_order_path(order) %></td>
				<td><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'New', new_order_path %>


