<%= form_for(@showtime) do |f| %>
  <% if @showtime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@showtime.errors.count, "error") %> prohibited this showtime from being saved:</h2>

      <ul>
      <% @showtime.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @movie %>
      <%= f.label :movie, @movie.title %><br>
      <%= f.hidden_field :movie_id, :value => @movie.id %>
  <% else %>
    <div class="field">
      <%= f.label :movie %><br>
      <%= f.select :movie_id, options_for_select(Movie.all.map{|m|[m.title, m.id]}), {include_blank: true} %>
    </div>
  <% end %>

  <% if @auditorium %>
      <%= f.label :auditorium, @auditorium.name %><br>
      <%= f.hidden_field :auditorium_id, :value => @auditorium.id %>
  <% else %>
    <div class="field">
      <%= f.label :auditorium %><br>
      <%= f.select :auditorium_id, options_for_select(Auditorium.all.map{|a|[a.name, a.id]}), {include_blank: true} %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :begin, 'Start date' %><br>
    <%= f.date_select(:begin, {:start_year => Date.today.year, :end_year => (Date.today.year+1), :order => [:month, :day, :year]}) %>
  </div>
  <div class="field">
    <%= f.label :end, 'End date' %><br>
    <%= f.date_select(:end, {:start_year => Date.today.year, :end_year => (Date.today.year+1), :order => [:month, :day, :year]}) %>
  </div>
  <div class="field">
    <%= f.label :allday, 'All day?' %><br>
    <%= f.check_box :allday, {checked: true} %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time, {minute_step: 15, ampm: true} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>