<h1><%= @showtime.movie.title %></h1>

<h2><%= @showtime.auditorium.name %></h2>
<h2><%= @showtime.date %></h2>
<h2><%= @showtime.time.to_s %></h2>
<h2><%= @showtime.auditorium.capacity - Order.where(showtime_id: @showtime.id).count %></h2>

<%= link_to 'Edit', edit_showtime_path %>
<%= link_to 'Delete', @showtime, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', showtimes_path %>